<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94316404710-ke8rbantmgaub154jqigrpdldkf9iub7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94316404710-ke8rbantmgaub154jqigrpdldkf9iub7</string>
	<key>API_KEY</key>
	<string>AIzaSyCpL7952h308m3O-lMXKS6bfwq7TTXXT0w</string>
	<key>GCM_SENDER_ID</key>
	<string>94316404710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.artexhibit.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-by-igor</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-by-igor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94316404710:ios:dde5fbd74f47d75363c027</string>
</dict>
</plist>